@import url(variables.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin:0;
	background-color:black;
	padding:0px;
	overflow-y:scroll;
}

.cab__background{
    position: absolute;
    background: url(fundo.gif) repeat-x;
    width: 100%;
    height: 154px;
    z-index: -1;
}

.cab {
	display: flex;
    align-content: baseline;
    justify-content: space-around;
    align-items: center;
}

.cab__image{
	display: flex;
	height: 150px;
	margin-top: none;
}

.cab__social{
	float:right;
	padding-top:100px
}
.cab__social img{
	width:32px;
	height:32px;
}

.cab__menu{
	float:center;
	margin-top:93px;
	width:60%;

	ul {
		list-style:none;
		padding:0px;
		margin:0px;

		li {
			height:57px;
			display:table-cell;
			text-align:center;
			vertical-align:middle;
			width:10%;
			

			a {
				font-family:'Roboto', Monospace;
				font-weight:bold;
				text-decoration:none;
				font-size:20 px;
				color:#FFF;
			}
		}
	}
}


.main__section {
	display: flex;
	width: 100%;
	height: 300px;
	padding: 16px;
	align-items: center;

	> div {
		max-width: 1024px;
	}
}

.banner {
    align-items: center;
    justify-content: center;

	.banner__carousel {
		width: 100%;
		height: 90%;

		.banner__carousel__img{
			width: 100%;
			height: 100%;
		}
	}
}


.movies {
	flex-direction: column;
    height: auto;
    gap: 24px;
	justify-content: center;
	.movies__title{
		width: 100%;
		height: 40px;
		background-color: var(--color-primary);
		align-items: center;
		justify-content: center;
		font-family: 'Roboto', Monospace;
		display: flex;
		font-size: 20px;
		font-weight: bold;
	}

	.movies__catalogue{
		
		
		width: 100%;
		display: flex;
		justify-content: space-around;
		.catalogue__movie{
			background-color: aqua;
			width: 180px;
			height: 300px;
			background-size: cover;
			img{
				width: 100%;
				height: 100%;
			}
		}

	}
    
    .movies__button{

		width: 100%;
		display: flex;
		justify-content: center;
	}
}

button{
	background-color: var(--color-primary);
	color: black;
	border: solid 1px var(--color-primary);
	border-radius: 16px;
	padding: 4px 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;

}
.news {


	flex-direction: column;
    height: auto;
    gap: 24px;
	justify-content: center;

	.news__title{
		width: 100%;
		font-size: 24px;
		display: flex;
		align-items: center;
		gap: 24px;
		color: #DDD;
		font-family: 'Roboto', monospace;
	}

	.news__mural{

		display: flex;
		gap: 4px;
		width: 100%;

		.news__mural__left {

			flex: 2;
			display: flex;


			.mural__left__txt{
				flex: 1;
				display: flex;
				flex-direction: column;
				padding: 16px;
				gap: 16px;
				color: #DDD;
				h2{
					font-weight: bold;
				}
				a{
					font-size: 12px;
				}

				.mural__left__text_detail{

					flex: 1;
				}
			}

			.mural__left__img{
				flex: 1;
				background-image: url(https://i.pinimg.com/736x/85/e0/9c/85e09c65f67cff0a9b32159817675656.jpg);
				background-size: cover;
			}
		}
		.news__mural__right {
			flex: 1;
			display: flex;
			gap: 8px;
			flex-direction: column;

			.mural__right__shortn {

				flex: 1;
				display: flex;

				.mural__right__shortn__txt{

					flex: 1;
					padding: 8px;
				}

				.mural__right__shortn__img{

					flex: 1;
					background-image: url(https://picsum.photos/400);
					background-size: cover;
				}
			}
		}

		> div {
			height: 200px;

		}
	}
	

}

.contato{
	text-align: center;

	label{
		color: #DDD;
		font-family: 'Roboto', Monospace;
		font-size: 20px;
	}

	div{
	input{background-color: var(--color-primary);
		color: black;
		border: solid 1px var(--color-primary);
		border-radius: 16px;
		padding: 4px 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: bold;
	 	}	
		
	}

	.input{
		background-color: black;
		width: 35%;
		border: 0;
		border-bottom: 2px solid #ccc;
	}
}

