@import url(variables.css);

html, body, div, span, applet, object, iframe,
h1, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin:0;
	background-color:black;
	padding:0px;
	overflow-y:scroll;
}

.cab__background{
    position: absolute;
    background: url(assets/fundo.gif) repeat-x;
    width: 100%;
    height: 154px;
    z-index: -1;
}

.cab {
	display: flex;
    align-content: baseline;
    justify-content: space-around;
    align-items: center;
}

.cab__image{
	display: flex;
	height: 150px;
	margin-top: none;
}

.cab__tools{
	margin-top:0.1rem;
	margin-right:0rem;
	float:right;
}
.cab__tools ul{
	margin-top: 0;
	list-style:none;
}
.cab__tools li{
	height:auto;
	width:auto;
	display:table-cell;
	padding-right:0.5rem;
	text-align:center;
	vertical-align:middle;
	border:none;
	font-size:17px;
	color:#fff
}
.cab__tools ul li a{
	font-family:'Arial';
	text-decoration:none;
	font-size:13px;
	color:#fff;
}


.cab__social{
	float:right;
	padding-top:60px
}
.cab__social img{
	width:32px;
	height:32px;
}
.cab__social__cart{
	margin: 0 100px 0 0;
}

.cab__menu{
	float:center;
	margin-top:93px;
	width:60%;

	ul {
		list-style:none;
		padding:0px;
		margin:0px;

		li {
			height:57px;
			display:table-cell;
			text-align:center;
			vertical-align:middle;
			width:10%;
			transition: all 50ms ease-out;
			

			a {
				font-family:'Roboto', Monospace;
				font-weight:bold;
				text-decoration:none;
				font-size:20 px;
				color:#FFF;
			}
		}
		li:hover{
			transform: scale(1.4);
		}

	}
}


.main__section {
	display: flex;
	width: 100%;
	height: 300px;
	padding: 16px;
	align-items: center;

	> div{
		max-width: 1024px;
	}
}

.banner {
    align-items: center;
    justify-content: center;
	width: 100%;
	height: 100%;

	.banner__carousel {

		.banner__carousel__img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}


.movies {
	flex-direction: column;
    height: auto;
    gap: 24px;
	justify-content: center;
	.movies__title{
		width: 100%;
		height: 40px;
		background-color: var(--color-primary);
		align-items: center;
		justify-content: center;
		font-family: 'Roboto', Monospace;
		display: flex;
		font-size: 20px;
		font-weight: bold;
	}

	.movies__catalogue{
		
		
		width: 100%;
		display: flex;
		justify-content: space-around;
		.catalogue__movie{
			
			width: 180px;
			height: 300px;
			background-size: cover;
			img{
				width: 100%;
				height: 100%;
			}
		}

	}
    
    .movies__button{

		width: 100%;
		display: flex;
		justify-content: center;
	}
}

button{
	background-color: var(--color-primary);
	color: black;
	border: none;
	border-radius: 16px;
	padding: 4px 24px;
	letter-spacing: 1px;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	transition: all 300ms ease-out;
}

button:hover {
	background-color: #5e1229;
	font-size: 24px;
	
}


button:active {
	background-color: #5e1229;
	
}
.news {


	flex-direction: column;
    height: auto;
    gap: 24px;
	justify-content: center;

	.news__title{
		width: 100%;
		font-size: 24px;
		display: flex;
		align-items: center;
		gap: 24px;
		color: #DDD;
		font-family: 'Roboto', monospace;
	}

	

	.news__mural{

		display: flex;
		gap: 4px;
		width: 100%;

		.news__mural__left {

			flex: 2;
			display: flex;


			.mural__left__txt{
				flex: 1;
				display: flex;
				flex-direction: column;
				padding: 16px;
				gap: 16px;
				color: #DDD;
				h2{
					font-weight: bold;
				}
				a{
					font-size: 12px;
				}

				.mural__left__text_detail{

					flex: 1;
				}
			}

			.mural__left__img{
				flex: 1;
				background-image: url(https://i.pinimg.com/736x/85/e0/9c/85e09c65f67cff0a9b32159817675656.jpg);
				background-size: cover;
			}
		}
		.news__mural__right {
			flex: 1;
			display: flex;
			gap: 8px;
			flex-direction: column;

			.mural__right__shortn {

				flex: 1;
				display: flex;

				.mural__right__shortn__txt{

					flex: 1;
					padding: 8px;
					color: white;
				}

				.mural__right__shortn__img1{

					flex: 1;
					background-image: url(https://www.juniortakamoto.com.br/wp-content/uploads/2024/06/Divertida-Mente-2-4-yTdrKB.jpeg);
					background-size: cover;
				}

				.mural__right__shortn__img2{

					flex: 1;
					background-image: url(https://i.ytimg.com/vi/-9QBR0BwK3E/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGEQgUShlMA8=&rs=AOn4CLAPzPIIG-D5yrVESGvK0kYD5PXGbg);
					background-size: cover;
				}
			}
		}

		> div {
			height: 200px;

		}
	}
	

}

.contato{
	text-align: center;

	label{
		color: #DDD;
		font-family: 'Roboto', Monospace;
		font-size: 20px;
	}

	div{
		border-radius: 16px;
		padding: 4px 24px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: bold;
	}	
	.button{
		background-color: var(--color-primary);
		border: none;
		border-radius: 16px;
		padding: 4px 24px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		color: #fff;
		transition: all 150ms ease-out;
	}
	
	.button:hover {
		background-color: #5e1229;
		
	}
	
	
	.button:active {
		background-color: #5e1229;
		
	}
		
	}
	

	.input{
		background-color: black;
		width: 35%;
		border: 0;
		border-bottom: 2px solid #ccc;
		color: white;
	}


.news_main{
	border: 1px solid grey;
	border-radius: 30px;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 95%;
	a{
		color: #fff;
		text-decoration: none;
	}
	
	.news_main_txt{
		text-align: center;
		color:#fff;
		font-size: 24px; 
		padding: 15px;

		.news_main_descricao{
			color: #ccc;
			font-size: 16px;
			text-align: center;
			padding: 8px 24px 24px 24px;
		}
		
	}
	.news_main_img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}	
}

.news_list{
	width: 95%;
	margin: 0 auto 0 auto;
}
.news_list ul{
	padding:0;
	list-style:none;
	display: flex;
	align-content: center;
	width: 100%;
	height: auto;
}
.news_list li{
	width:49%;
	display:table-cell;
	padding:auto 50px;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align:center;
	vertical-align:center;
	
	border: 1px solid #999;
	border-radius:37px;

	
	font-family: 'Arial';
}
.news_list_item_left{
	margin-right: auto;
}
.news_list li img{
	width:70%;
	margin-top:15px;
	

}
.news_list ul li a{
	text-decoration:none;
	color:#fff;
}

.news_list_desc{
	font-size: 16px;
	margin: 0 4rem;
}

.prog {

	
	a{
	text-decoration: none;

}
}
.prog_movie{
	border: 1px solid grey;
	border-radius: 30px;
	align-items: center;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 95%;
	height:280px;

	.prog_img{
		display: flex;
		float: left;
		height: 240px;
		width: 165px;
		border-radius: 10px;
	}

	.prog_movie_txt{
		display:flex;
		padding: 20px 0 0 50px;
		display: flex;
		color: #DDD;
		font-size: 25px;
		font-weight: bolder;
		
	}
	.prog_movie_desc{
		min-height: 3rem;
		width: 25rem;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		display:flex;
		padding: 20px 0 0 50px;
		color: #aaa;
		font-size: 16px;
	}

	.prog_movie_audio{
		position: absolute;
		left:50%;
	}
	.prog_movie_audio_tipo{
		display:flex;
		color: #fff;
		font-weight: bolder;
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 5px;
		text-align: center;
		font-size: 16px;
		height: 25px;
		width: 45px;
		background-color: var(--color-secondary);
	}
	.prog_movie_salas{
		position: absolute;
		left:65%;
		display:flex;
		display: flex;
		color: #DDD;
		font-size: 18px;
		p{
			padding: 5px;
		}
	}

	.prog_movie_salas_horario{
		display:flex;
		color: #DDD;
		font-weight: bolder;
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 5px;
		text-align: center;
		font-size: 16px;
		height: 25px;
		width: 55px;
		background-color: var(--color-contrast);
	}

	.prog_movie_class_L{
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 2.5px;
		text-align: center;
		font-size: 20px;
		height: 25px;
		width: 25px;
		background-color:green
	}
	.prog_movie_class_10{
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 2.5px;
		text-align: center;
		font-size: 20px;
		height: 25px;
		width: 28px;
		background-color: #01CDFE

	}
	.prog_movie_class_12{
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 2.5px;
		text-align: center;
		font-size: 20px;
		height: 25px;
		width: 28px;
		background-color:rgb(187, 187, 0)
	}
	.prog_movie_class_14{
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 2.5px;
		text-align: center;
		font-size: 20px;
		height: 25px;
		width: 28px;
		background-color:rgb(255, 166, 0)
	}
	.prog_movie_class_16{
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 2.5px;
		text-align: center;
		font-size: 20px;
		height: 25px;
		width: 28px;
		background-color:rgb(226, 37, 12)
	}
	.prog_movie_class_18{
		border-radius: 4px;
		margin: 0 0 0 8px;
		padding: 2.5px;
		text-align: center;
		font-size: 20px;
		height: 25px;
		width: 28px;
		background-color:rgb(20, 20, 20)
	}
}

.form{
	display: block;
	margin: 3rem auto 0 auto;
	width: 30rem;
	height: auto;
	padding: 32px 0 0 3rem;
	border: 1px solid #FFF;
	border-radius: 5px;

	.input{
		display: table-cell;
		border: none;
	}

	.legend{
		display:flex;
		margin:auto auto auto auto;
		color: var(--color-primary);
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bolder;
		font-size: 30px;
		margin: 0 0 24px 3rem;
		position: relative;
		top:24px;
		right:3rem;
	}
	.label_form{
		display: inline-block;
		width: 9rem;
		text-align: right;
		color: #FFFFFF;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: right;
		
	}
	.button2{
		background-color: var(--color-primary);
		border: none;
		border-radius: 16px;
		padding: 4px 24px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		color: #fff;
		transition: all 150ms ease-out;
		margin: 0 0 3rem 0;
	}
	
	.button2:hover {
		background-color: #5e1229;
		font-size: 18px;
	}
	
	
	.button2:active {
		background-color: #5e1229;
		
	}
}

.form__login{
	display: block;
	margin: 3rem auto 0 auto;
	width: 12rem;
	height: auto;
	padding: 34px 7rem 0 7rem;
	border: 1px solid #FFF;
	border-radius: 5px;

	.input__login{
		display: table-cell;
		border: none;
	}
	.legend{
		margin:auto auto auto auto;
		color: var(--color-primary);
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bolder;
		font-size: 30px;
		position: relative;
		text-align:center;
		margin: 0 0 4rem 0;
	}
	.label__form__login{
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: left;
		
	}
	.button2__login{
		background-color: var(--color-primary);
		margin: 2rem 0 6rem 0;
		border: none;
		border-radius: 16px;
		padding: 4px 24px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		color: #fff;
		transition: all 150ms ease-out;
	}
	
	.button2__login:hover {
		background-color: #5e1229;
		font-size: 18px;
	}
	
	
	.button2__login:active {
		background-color: #5e1229;
		
	}
}

#box{

	background-color: rgb(95, 95, 95);
	color: #fff;
	border: none;
	cursor: pointer;
	width: 13rem;
	height: 20px;
	border-radius: 4px;
	box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
	outline: none;
	transition: .2s;
}

#box:hover {
	box-shadow: 0 0 0 .15vw rgba(180, 127, 127, 0.877);
}

#box:focus {
	box-shadow: 0 0 0 .15vw rgb(134, 2, 24);
}

#error-message {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	background-color: #c27b7b;
	border: red 2px solid;
	border-radius: 3px;
	color: rgb(248, 0, 0);
	width:16rem;
	height: 2.5rem;
	text-align: center;
	justify-self: middle;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

#success-message {

	color: green;
	background-color: rgb(176, 255, 176);
	border: green 2px solid;
	border-radius: 3px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	width:16rem;
	height: 2.5rem;
	text-align: center;
	justify-self: start;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.snack_list{
	width: fit-content;
	margin: auto;
}

.snack_list_list{
	width: fit-content;
	display: inline-flex;

}

.snack_list_item_left{
	border:1px solid #aaa;
	border-radius: 2rem;
	color: #FFF;
	width: auto;
	height: 20%;
	align-content: center;
	display: block;
	text-align: center;
	padding: 0 2.5rem 2rem 2.5rem;
	margin: 3rem;

	.snack_list_img{
		width: 240px;
	}

	button{
		background-color: var(--color-primary);
		display: inline-flexbox;
		border: none;
		border-radius: 16px;
		padding: 4px 24px;
		font-size: 18px;
		text-align: center;
		cursor: pointer;
		outline: none;
		color: #fff;
		transition: all 150ms ease-out;
	}
	
	button:hover {
		background-color: #5e1229;
		font-size: 18px;
		
	}
	
	
	button:active {
		background-color: #5e1229;
		
}
}

.informacoes{

	display: flex;
	justify-content: space-around;

	.salas_filme{

		background-color: grey;
	}
	p{
		color: white;
	}

	.img_filme{

		width: 280px;
		border: 1px solid grey;
		border-radius: 15px;
		padding: 10px;
	}


	.info_salas_filmes{
		display: flex;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bolder;
		width: 45rem;
		font-size: 20px;
		background-color: var(--color-primary);
	}
}

/*Footer Alto*/
footer{
	width:100%;
}

.footer__alto{
	display:block;
	background-color:#a3b7ca;
	text-align:center;
	height:26rem;
	width:100%;
	margin-top:5rem;
}
.footer__alto__categorias{
	display:inline;
	list-style:none;
	height:20rem;
}
.footer__alto__categorias__colunas{
	height:20rem;
	width:24rem;
	display:table-cell;
	padding-top:1rem;
	padding-left:3rem;
	padding-right:1rem;
	padding-bottom:3rem;
	text-align:left;
	border:none;
	position:relative;
	
	font-family: 'Open Sans';
	font-size: 16px;
}
.footer__alto__titulo{
	font-family:"League Spartan", sans-serif;
	font-weight:800;
	font-size:31px;
	margin-top:3rem;
}
.footer__alto__categorias__colunas ul{
	display:table-row-group;
	list-style:none;
	position:relative;
	top:1.7rem;
	margin:auto;
}
.footer__alto__categorias__colunas li{
	height:auto;
	width:auto;
	padding-bottom:1.2rem;
	display:list-item;
	text-align:left;
	vertical-align:middle;
	border:none;
	font-size:14px;
	color:#323232;
}
.footer__alto__categorias__colunas__lista__item a{
	text-decoration:none;
	color:#323232;
}

.footer__alto__categorias__colunas__lista__item__linha{
	display:table-cell-group;
	list-style:none;
	margin:auto;
}
.footer__alto__categorias__colunas__lista__item__linha li{
	position:relative;
	bottom:1.7rem;
	display:table-cell;
	padding-right:1rem;
}

.footer__alto__categorias__colunas__lista__item__linha img{
	width:2rem;
}

/*Footer Baixo*/
.footer__baixo{
	display:block;
	background-color:#323232;
	height:17rem;
	text-align:center;
}
.footer__baixo__logo{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;

	margin: auto;
	width: 8rem;
	text-align:center;
}
.footer__baixo ul{
	display:inline-block;
	list-style:none;
	position:relative;
	top:4rem;
	margin: auto;
	padding: 4rem 0 0 0;
}
.footer__baixo li{
	height:auto;
	width:auto;
	display:table-cell;
	padding-right:0.5rem;
	text-align:center;
	vertical-align:middle;
	border:none;
	font-size:14px;
	color:#d9d9d9;
}
.footer__baixo ul li a{
	font-family:'Arial';
	text-decoration:none;
	color:#d9d9d9;
}
.footer__baixo p{
	display:inline-block;
	position:relative;
	top:8rem;
	font-family:'Arial';
	font-size:12px;
	color:#d9d9d9;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #000;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-primary);
	border-radius: 1px 1px 1px 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a02828;
}